html {
  background-color: #eceeee;
}

h1, h2, h3 {
  font-family: "East Sea Dokdo", cursive;
  color: #435b5a;
}

h1, h2:hover {
  color: #b68688;
}

p {
  font-family: Spartan, sans-serif;
  color: #92a8d1;
  letter-spacing: 2px;
}

p:hover {
  background-color: #283636;
  color: #d4d6d6;
  border-bottom: 10px double #f2f2f2;
}

dd, dt {
  font-family: Spartan, sans-serif;
  letter-spacing: 5px;
  color: #1b1414;
}

dd:hover {
  color: #b68688;
}

dd {
  color: #283636;
}

.chorus {
  border-left: 4px solid #1b1414;
}

.places {
  border-right: 4px solid #1b1414;
}

.denver {
  border-bottom: 10px double #334432;
}
