html {

}

h1, h2, h3 {
  font-family: 'Mansalva', cursive;
  color: #00000;
}

p {
font-family: 'Spartan', sans-serif;
  color: lightblue;
  letter-spacing: 2px;
}

dd, dt {
  font-family: 'Spartan', sans-serif;
  letter-spacing: 5px;
}

.chorus {
  border-left: 4px solid black;

}
.places {
  border-right: 4px solid black;
}

.denver {
  border-bottom: 4px double black;
}
